### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
HELP.md

### Node.js ###
node_modules/
dist/
dist-ssr/
*.local
package-lock.json

### Logs ###
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.history/
!.vscode/extensions.json

### OS ###
.DS_Store
Thumbs.db

### Others ###
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
